#navbar{
    width: 100%;
    height: 115px;
    background: #FEF2D3;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 50px;
}

#navRight{
    display: flex;
}

#navbar a,button{
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #323232;
    margin-right: 50px;
    margin-left: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
}

#searchContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0px 0px 0px 20px;
}

#searchContainer input{
    position: static;
    width: 539px;
    height: 59px;
    background: #F2F2F2;
    border: 4px solid #323232;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
}

#searchContainer button{
    width: 126px;
    height: 59px;
    background: #FFFFFF;
    border: 4px solid #323232;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Ruda;
    font-style: normal;
    font-size: 36px;
    cursor: pointer;
}

#search-placeholder-img{
    width: 80%;
    height: calc(100vh * 0.46);
    object-fit: contain;
    border: 3px;
    margin-top: 50px;
}

/* List of books */
#bookList{
    display: flex;
    flex-direction: column;
    padding: 40px 29px 0px 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.li-right-col{
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
}

.li-left-col{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.li-middle-col-lg{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.li-left-col .info{
    display: flex;
    flex-direction: column;
}

.li-middle-col-lg h4{
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #323232;
}

.li-middle-col-lg span{
    margin-bottom: 15px;
}

.info{
    margin: 0px 50px 0px 30px;
}

.info h3{
    margin: 0px;
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.info p{
    margin: 0px;
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}

.price{
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
    color: #838383;
}

.li-img-sm{
    object-fit: contain;
    height: 67px;
}

.li-img-lg{
    object-fit: contain;
    height: 279px;
    margin-right: 48px;
}

.book-li{
    width: 100%;
    height: 106px;
    background: #FFFFFF;
    border: 1px solid #323232;
    box-sizing: border-box;
    box-shadow: 9px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin-bottom: 30px;
}

.book-li-sm{
    height: 106px;
}

.book-li-lg{
    height: 331px;
}

.info-lg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.info-lg p{
    margin: 15px 0px 0px 0px;
}

.info-lg .price{
    margin-top: 30px;
}

.li-col-lg{
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: flex-start;
}

.li-col-lg-left{
    flex-direction: row;
    width: 40%;
}

.li-col-lg-left h2{
    margin-top: 30px;
}

.li-col-lg-middle span{
    margin-bottom: 15px;
}

.li-col-lg-middle .more-info-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.li-col-lg-right{
    width: 20%;
    align-items: flex-end;
}