@font-face {
    font-family: RubikOne;
    src: url(RubikOne.ttf);
}

@font-face {
    font-family: Ruda;
    src: url(Ruda.ttf);
}

p, h3, h2{
    font-family: Ruda;
}

body{
    margin: 0;
    height: 100%;
}

h1{
    font-size: 72px;
    font-family: RubikOne;
    color: #424136;
    margin: 0px;
}

#navbar{
    width: 100%;
    height: 115px;
    background: #FEF2D3;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 50px;
}

#navRight{
    display: flex;
}

#navbar a, #navbar button{
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #323232;
    margin-right: 50px;
    margin-left: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
}

.btn{
    width: 206px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn-sm{
    width: 106px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary{
    background: #FEF2D3;
    border: 3px solid #323232;
    color: #323232;
}

.btn-primary:hover{
    background-color: #f5e9cd;
}

.btn-secondary{
    background: #FFFFFF;
    border: 1px solid #424136;
    color: #4F4F4F;
}

.btn-secondary:hover{
    background-color: #f3f3f3;
}

.btn-collapse{
    font-size: 72px;
    color: #323232;
    background-color: white;
    border: none;
    cursor: pointer;
}

.bold{
    font-weight: bold;
}