@font-face {
    font-family: RubikOne;
    src: url(RubikOne.ttf);
}

@font-face {
    font-family: Ruda;
    src: url(Ruda.ttf);
}

p, h3{
    font-family: Ruda;
}

body{
    margin: 0;
    height: 100%;
}

h1{
    font-size: 72px;
    font-family: RubikOne;
    color: #424136;
    margin: 0px;
}

.btn{
    width: 206px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn-primary{
    background: #FEF2D3;
    border: 3px solid #323232;
    color: #323232;
}

.btn-secondary{
    background: #FFFFFF;
    border: 1px solid #424136;
    color: #4F4F4F;
}