#loginBox{
    /* Login / Register box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 493px;
    height: 481px;
    background: #FEF2D3;
    border: 4px solid #323232;
    box-sizing: border-box;
    box-shadow: 9px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 30px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}

#loginBox h3{
    font-family: RubikOne;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    color: #424136;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#loginBox input{
    position: static;
    width: 350px;
    height: 32px;
    color: white;
    background: #424136;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
}

#confirmButton{
    width: 141px;
    height: 42px;
    left: 650px;
    top: 824px;
    background: #323232;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#toggleButton{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}